PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/?appName=your_app_name
FRONTEND_URL=http://localhost:5173
ADMIN_PASSWORD=your_secure_admin_password
ADMIN_EMAIL=admin@example.com
